<% include ../partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Sorry.</h1>
	</div>
	
</div>

<div class="container">
	
	<div class="row">

		<div class="col-md-12 text-center">  

			<h3>The game is over!</h3>
			<p>There was a game here but it has since ended.</p>
		</div>


	</div>


</div>

<% include ../partials/footer.ejs %>