<% include ../partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Sorry.</h1>
	</div>
	
</div>

<div class="container">
	
	<div class="row">

		<div class="col-md-12 text-center">  

			<h3>There are no empty seats left at this table.</h3>
			<p>In the future you will be able to watch tables, but until then you can create a new game <a href="/game/new">here</a>.</p>
		</div>


	</div>


</div>

<% include ../partials/footer.ejs %>