<% include ../partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Start a new heads up match</h1>
		<p><em>Last night I stayed up late playing poker with Tarot cards. I got a full house and four people died. Read more at</em></p>
	</div>
	
</div>

<div class="container">
	

	<div class="row">


		<div class='col-sm-12'>  

			<h3>Shuffle up and Deal!</h3>
			<p>A table name should be something unique that you can tell your friends so they can find you. Once you create the game you can simnply send the link to your opponent to start playing. <strong>Table names can only be letters and numbers. No spaces are allowed and the table name must be between 1 and 25 characters in length.</strong></p>

			<form class="form-horizontal well" role="form" method="post" action="/game/new">

				
				<input type="hidden" name="_csrf" value="<%= token %>"/>

				<div class='form-group <% if (errors.tableName) { %>has-error<% } %>'>
					
					<div class="col-lg-2">
						<label class="control-label">bitflop.me/game/play/</label>
						
					</div>
					<div class="col-lg-7">
						<input class="form-control mg-top-bot-5" name="tableName" size="30" type="text" placeholder="Table Name" />
						<% if (errors.tableName) { %>
							<div class="alert alert-danger"><p><%= errors.tableName.msg %></p></div>
						<% } %>
					</div>
					
					<div class="col-lg-3"><input type="submit" class="btn btn-block btn-success mg-top-bot-5" value="Create New Game" /></div>
					


				</div>


<!-- 				<div class='form-group <% if (errors.passcode) { %>has-error<% } %>'>
					<label>Make this table private</label>
					<p class="text-muted"><small>You can add a passcode to your table so only those with the password can join.</small></p>
				    <div class="input-group mg-top-bot-5">

				    	<span class="input-group-addon">
				    		<input type="checkbox" name="private">
				    	</span>
				    	<input name="passcode" type="text" class="form-control " placeholder="a security word is required only if this table is provate">
				    </div>

					<% if (errors.passcode) { %>
						<div class="alert alert-danger"><p><%= errors.passcode.msg %></p></div>
					<% } %>
				</div> -->




			</form>
		</div>


	</div>


</div>

<% include ../partials/footer.ejs %>