<% include ../partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Shhh... Game in Progress</h1>
	</div>
	
</div>

<div class="container">
	

	<div class="row">


		<div class="col-md-12">  

			<p>There is currently no room for you at this table.</p>
		</div>


	</div>


</div>

<% include ../partials/footer.ejs %>