body {
  margin-top: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #080808;
  }

  .side-nav>li>a {
	width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #080808;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }

}


















html,
body {
	height: 100%;
	background-color: #181818;
	min-width:768px; /* suppose you want minimun width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width:768px;  
	
}

#game {
	color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.wrap {
 
	word-wrap: break-word;
}

.btn-group {
	margin-right:3px;
}

.notify-player {
	color: #3a87ad;
	background-color: #d9edf7;
	padding: 6px 0px;
	margin-bottom: 1px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #bce8f1;
	text-align: center;
}

.notify-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 90%;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.notify-label-primary {
	background-color: #3a87ad;
}

.notify-label-success {
	background-color: #376e37;
}

.navbar {
	border-width: 0;
	border-radius: 0;
	padding:10px 15px 10px 15px;
	margin-bottom: 0;
}

.sidebar {
	border-width: 0;
	border-radius: 0;
	padding:10px 15px 10px 15px;
	background: #222;
	position: absolute;
	top:0;
	bottom:0;
	width:250px;
}


button.btn-user {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 0px;
	color: #666;
	background-color: #222222;
	position: relative;
	float: left;
	display: inline-block;
	margin: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 0px solid #333;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

button.btn-user:active,
button.btn-user:focus,
button.btn-user:hover {

}

.navbar .caret {
	border-top-color: #666;
	border-bottom-color: #666;
}
div.side-title {
	font-size: 13px;
	padding-bottom:6px;

}

.side-players ul, .side-railbirds ul {
	list-style: none;
	margin:0 0 8px 20px;
	padding:0;
}

.side-players ul li, .side-railbirds ul li {
	color:#fdfdd9;
	font-size: 12px;
	padding: 2px 4px;

}


.buffer { margin:10px 0; }

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     display: block;
}

code {
  font-size: 80%;
}

.top-buffer {
	margin-top:25px;
}


/* Wrapper for page content to push down footer */
#game {

  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 15px 15px;

}
.table {
	text-align: center;
	min-height:200px;
 	border-color: #111111;
 	border-style: solid;
 	border-width: 15px;
 	border-radius: 90px;
 	padding:20px 25px 5px 25px;
 	margin-top:10px;
 	width: 410px;
 	margin-left: auto;
 	margin-right: auto;
}

.table .board {
	text-align: left;
	margin-top:10px;
}

.opp-player-options .btn {
  margin-top: 1px;
  margin-right: 2px;
  margin-bottom: 1px;


background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
background: -moz-linear-gradient(top, #fff, #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');


  border:3px solid #000;
  font-weight: 700;
}


.player-container {

	color: #FFF;
	overflow: hidden;
	padding:10px;
}

.history {
	height: 450px;
	max-height:450px;
	padding-left: 1px;
	padding-right: 1px;


}


.settings {
	color: #FFFFFF;
	font-size: 12px;
}

.history ul.events {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	list-style: none;
	margin:0;
	padding: 0;
}

.history ul.events li {
	font-size: 12px;

}



.video {
	width: 100%;
	border-width: 2px;
	border-style:solid;
	border-color: transparent;
	background-color: #111111;
	display: block;

}



.player {


	height: 100%;

	border-width: 4px;
	border-style:solid;
	border-color: transparent;



}


.opponent {


	height: 100%;

	border-width: 4px;
	border-style:solid;
	border-color: transparent;


}

.opp-player-data {

	position: absolute;
	bottom: 4px;
	left: 15px;
	padding:15px;

}


.opp-player-name {

	position: absolute;
	top: 0;
	left: 15px;
	padding:15px;


}

.opp-player-options {

	position: absolute;
	bottom: 0;
	left: 120px;
	right:18px;
	padding:15px;

}

.action-btn {
	display: inline-block;
	float:left;
	margin:0 1px;
}
.opp-player-co {

}

.opp-player-cards {

}

.player-turn {
	border-color: red;

    
}

ul.cards {
	list-style: none;
	margin:0;
	padding: 0;
	line-height: 1;
}

ul.cards li {
	display: inline-block;
	margin:0;
	padding:0;
}

.card {
	background-color: #FFFFFF;
	margin:2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	width: 60px;
	height: 90px;
	display: inline-block;
	box-shadow: 0 1px 4px #002C00;
	-ie-box-shadow: 0 1px 4px #002c00;
	-moz-box-shadow: 0 1px 4px #002c00;
	-webkit-box-shadow: 0 1px 4px #002C00;

}
.card-sm {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding:4px;
	width: 90px;
	height: 123px;
}

.card-xs {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:1px;
	width: 30px;
	height: 45px;
}

.card span {
	width:100%;
	height:100%;
	float: left;
	background-image: url('../img/spritz.png');
	background-repeat: no-repeat;
}


ul.cards li.card:nth-child(2) {
	margin-left:-35px;
}

ul.cards li.card-xs:nth-child(2) {
	margin-left:-1px;
}

span.chip-count {
	padding: 2px 4px;
	color: #ffffff;
	white-space: nowrap;
	background-color: #428BCA;
	border-radius: 2px;
	font-weight: 700;
}

span.player-action {
	padding: 2px 4px;
	font-size: 80%;
	color: #ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #999999;
	border-radius: 2px;
	font-weight: 700;
}

span.player-name {
	color: #f0f0f0;
	white-space: nowrap;
	font-style: italic;
	font-weight: 700;
	padding: 2px 4px;
	background-color:#000;
	border-radius: 2px;
}

span.blind-bet {
	padding: 2px 4px;
	color: #ffffff;
	font-weight: 700;
	white-space: nowrap;
	background-color: #999999;
	border-radius: 2px;
}


span.dealer-button {
	padding: 2px 4px;
	color: #000000;
	white-space: nowrap;
	background-color: #F2EE7B;
	border-radius: 2px;
	font-weight: 700;
}

.card span.card-AS { background-position: -0px -0px; }
.card span.card-KS { background-position: -60px -0px; }
.card span.card-QS { background-position: -120px -0px; }
.card span.card-JS { background-position: -180px -0px; }
.card span.card-TS { background-position: -240px -0px; }
.card span.card-9S { background-position: -300px -0px; }
.card span.card-8S { background-position: -360px -0px; }
.card span.card-7S { background-position: -420px -0px; }
.card span.card-6S { background-position: -480px -0px; }
.card span.card-5S { background-position: -540px -0px; }
.card span.card-4S { background-position: -600px -0px; }
.card span.card-3S { background-position: -660px -0px; }
.card span.card-2S { background-position: -720px -0px; }

.card span.card-AC { background-position: -0px -90px; }
.card span.card-KC { background-position: -60px -90px; }
.card span.card-QC { background-position: -120px -90px; }
.card span.card-JC { background-position: -180px -90px; }
.card span.card-TC { background-position: -240px -90px; }
.card span.card-9C { background-position: -300px -90px; }
.card span.card-8C { background-position: -360px -90px; }
.card span.card-7C { background-position: -420px -90px; }
.card span.card-6C { background-position: -480px -90px; }
.card span.card-5C { background-position: -540px -90px; }
.card span.card-4C { background-position: -600px -90px; }
.card span.card-3C { background-position: -660px -90px; }
.card span.card-2C { background-position: -720px -90px; }

.card span.card-AH { background-position: -0px -180px; }
.card span.card-KH { background-position: -60px -180px; }
.card span.card-QH { background-position: -120px -180px; }
.card span.card-JH { background-position: -180px -180px; }
.card span.card-TH { background-position: -240px -180px; }
.card span.card-9H { background-position: -300px -180px; }
.card span.card-8H { background-position: -360px -180px; }
.card span.card-7H { background-position: -420px -180px; }
.card span.card-6H { background-position: -480px -180px; }
.card span.card-5H { background-position: -540px -180px; }
.card span.card-4H { background-position: -600px -180px; }
.card span.card-3H { background-position: -660px -180px; }
.card span.card-2H { background-position: -720px -180px; }

.card span.card-AD { background-position: -0px -270px; }
.card span.card-KD { background-position: -60px -270px; }
.card span.card-QD { background-position: -120px -270px; }
.card span.card-JD { background-position: -180px -270px; }
.card span.card-TD { background-position: -240px -270px; }
.card span.card-9D { background-position: -300px -270px; }
.card span.card-8D { background-position: -360px -270px; }
.card span.card-7D { background-position: -420px -270px; }
.card span.card-6D { background-position: -480px -270px; }
.card span.card-5D { background-position: -540px -270px; }
.card span.card-4D { background-position: -600px -270px; }
.card span.card-3D { background-position: -660px -270px; }
.card span.card-2D { background-position: -720px -270px; }

.card span.card-00 { background-position: -780px -0px; }

.card-sm span.card-5D { background-position: -664px -1505px; }
.card-xs span.card-7S { background-position: -0px -1621px }








