/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	background-color: #fff;
	/* The html and body elements cannot have any padding or margin. */

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
    font-family: 'Proxima_Nova_Regular';
    src: url('../font/proxima_novaregular/proximanova-regular-webfont.eot');
    src: url('../font/proxima_novaregular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proxima_novaregular/proximanova-regular-webfont.woff') format('woff'),
         url('../font/proxima_novaregular/proximanova-regular-webfont.ttf') format('truetype'),
         url('../font/proxima_novaregular/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima_Nova_Semi_Bold';
    src: url('../font/proxima_novasemibold/proximanova-semi-webfont.eot');
    src: url('../font/proxima_novasemibold/proximanova-semi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proxima_novasemibold/proximanova-semi-webfont.woff') format('woff'),
         url('../font/proxima_novasemibold/proximanova-semi-webfont.ttf') format('truetype'),
         url('../font/proxima_novasemibold/proximanova-semi-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima_Nova_Bold';
    src: url('../font/proxima_novabold/proximanova-bold-webfont.eot');
    src: url('../font/proxima_novabold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proxima_novabold/proximanova-bold-webfont.woff') format('woff'),
         url('../font/proxima_novabold/proximanova-bold-webfont.ttf') format('truetype'),
         url('../font/proxima_novabold/proximanova-bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bikobold';
    src: url('../font/biko/biko_bold.eot');
    src: url('../font/biko/biko_bold.eot?#iefix') format('embedded-opentype'),
         url('../font/biko/biko_bold.woff') format('woff'),
         url('../font/biko/biko_bold.ttf') format('truetype'),
         url('../font/biko/biko_bold.svg#bikobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "bikobold", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.buffer { margin:10px 0; }

.center {
		 float: none;
		 margin-left: auto;
		 margin-right: auto;
		 display: block;
}

.jumbotron-center {

	margin: 50px 0 50px 0;
}

.jumbotron {

	background-color: #2C3E50;

	border-bottom: 1px solid #dddedf;

}

.jumbotron h1 {
	font-size: 40px;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3 {
	color: #d3d7db;
}
.jumbotron .btn {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}



.jumbotron img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


.jumbotron p {
	color: #b8c0c8;
	font-size:90%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	margin-top:100px;
	padding-top:20px;
	background-color: #f5f5f5;
	border-style: solid;
	border-color: #333;
	border-width: 1px 0 0 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding: 20px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

.alert {
	padding-top:6px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	margin-top:2px;
}

.nav .caret {
	border-top-color: #000000;
	border-bottom-color: #000000;
}

.navbar-default {
	background-color: #1a2836;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	border-color: #999;
	border-width: 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-default .navbar-brand {
	color: #999999;
}

.navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
	color: #999999;
	padding:15px 0 0 0;
	margin:0 15px 0 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;

}

.navbar-default .navbar-nav > li > a.action {
	padding-top: 10px;
}

.navbar > .container .navbar-brand {
	margin-left: -15px;
}

.navbar-brand {

	padding:3px 15px;
}

.btn-group {
	padding-top:10px;
}

.col-bg-1 {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #EEEEEE;
	border-radius: 6px;
}



.mg-top-bot-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}


.sub h1 {
	
	padding-top: 36px;
	font-size: 42px;
	font-weight: 400;
	color: #d3d7db;
}

.sub p {
	font-size: 16px;
	overflow: hidden;
	color:#b8c0c8;
}
