/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	background-color: #fff;


}



::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


@font-face {
    font-family: 'bikobold';
    src: url('../font/biko/biko_bold.eot');
    src: url('../font/biko/biko_bold.eot?#iefix') format('embedded-opentype'),
         url('../font/biko/biko_bold.woff') format('woff'),
         url('../font/biko/biko_bold.ttf') format('truetype'),
         url('../font/biko/biko_bold.svg#bikobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "bikobold", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.biko {
	font-family: "bikobold", Helvetica, Arial, sans-serif !important;
	font-weight: normal !important;
}

span.email {

	font-family: monospace, serif;
	letter-spacing: 1px;
	font-size: 90%
}

.buffer { margin:10px 0; }

.center {
		 float: none;
		 margin-left: auto;
		 margin-right: auto;
		 display: block;
}

.jumbotron-center {

	margin: 50px 0 25px 0;
}

.top-buffer {
	margin-top:25px;
}
.jumbotron {

	background: #222222;
	padding-top: 50px;
	padding-bottom: 25px;
	padding-left:0px;
	padding-right: 0px;
	border-bottom: 1px solid #dddedf;

}

.jumbotron h1 {
	font-size: 44px;
	margin-bottom: 20px;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3 {
	color: #fff;
}
.jumbotron .btn {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}



.jumbotron img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
    vertical-align: middle;
-webkit-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.75);
box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.75);
}


.jumbotron p {
	color: #777777;
	font-size:90%;
}

.label {
	font-family: "Arial", sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}


/* Set the fixed height of the footer here */
#footer {
	height: auto;
	margin-top:100px;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #f5f5f5;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 1px 0 0 0;
}

#footer ul {
	color: #404040;
	list-style: none;
	float: left;
	padding:0;
	margin:0;
}

#footer ul li.logo {
	color:#999999;
	padding-right:10px;
}

#footer ul li {
	font-size:90%;
	float: left;
	position: relative;
	display: block;
}

#footer ul > li > a {
	padding: 0 10px 0 10px;
}

#footer .navbar-brand {
	font-size:95%;
	padding:15px 15px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding: 20px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

.alert {
	padding-top:6px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	margin-top:2px;
}


#wrap .navbar-inverse {
	background-color: #222222;
	text-shadow: none;
	border-color: #000;
	border-width: 0 0 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#wrap .navbar-header {
	min-height: 50px;
}

#wrap .navbar-default .navbar-collapse, 
#wrap .navbar-default .navbar-form {
	border-color: #000;
}

#wrap .navbar-default .navbar-brand {
	color: #999999;
}

#wrap .navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

#wrap .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
}

#wrap .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;
}

#wrap .navbar-default .navbar-nav > li > a.action {
	padding-top: 10px;
}

#wrap .navbar > .container .navbar-brand {
	margin-left: -0px;
}

#wrap .navbar-brand {
	padding:3px 1px;
}


.margin-bottom-0 {
	margin-bottom: 0;
}


.mg-top-bot-5 {
	margin-bottom: 5px;
}


.sub h1 {
	text-align: center;
	padding-top: 18px;
	font-size: 42px;
	font-weight: 400;
	color: #fff;
}

.sub p {
	font-size: 18px;
	text-align: center;
	color:#e1e1e1;
}


.table .table {
	margin-bottom: 0;
}





@media only screen and (max-width: 419px), only screen and (max-device-width: 419px){

	#wrap .navbar > .container .navbar-brand {
		margin-left: 15px;
	}

	.dropdown-menu .divider {
		background-color: #333333;
	}


	.jumbotron {
		margin-bottom: 15px;
		padding-top:20px;
		text-align: center;
	}

	.jumbotron h1 {
		font-size:28px;
	}

	.jumbotron p {
		font-size: 14px;
	}

	.sub h1 {
		padding-top: 30px;
	}

	.btn-xs {
		padding: 3px 5px;
		font-size: 8px;
	}

	.btn-sm {
		padding: 3px 5px;
		font-size: 10px;
	}

	.btn-md {
		padding: 4px 6px;
		font-size: 12px;
	}

	.btn-lg {
		padding: 8px 8px;
		font-size: 14px;
	}

	h1, .h1 {
		font-size: 28px;
	}

	h2, .h2 {
		font-size: 26px;
	}

	h3, .h3 {
		font-size: 24px;
	}

	h1, h2, h3 {
		margin-top: 15px;
		margin-bottom: 8px;
	}

}

@media only screen and (min-width: 420px) and (max-width: 639px), only screen and (min-device-width: 420px) and (max-device-width: 639px) {


	#wrap .navbar > .container .navbar-brand {
		margin-left: 15px;
	}

	.dropdown-menu .divider {
		background-color: #333333;
	}

	.jumbotron {
		margin-bottom: 15px;
		text-align: center;
	}




}

@media only screen and (min-width: 640px) and (max-width: 767px), only screen and (min-device-width: 640px) and (max-device-width: 767px){

	#wrap .navbar > .container .navbar-brand {
		margin-left: 15px;
	}

	.jumbotron {
		margin-bottom: 15px;
		text-align: center;
	}

	.dropdown-menu .divider {
		background-color: #333333;
	}


}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-device-width: 768px) and (max-device-width: 991px){


	.jumbotron h1 {
		font-size:32px;
	}

	.jumbotron p {
		font-size: 16px;
	}

	.btn-lg {
		padding: 8px 8px;
		font-size: 16px;
	}

}