/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	background-color: #fff;
	/* The html and body elements cannot have any padding or margin. */

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


@font-face {
    font-family: 'bikobold';
    src: url('../font/biko/biko_bold.eot');
    src: url('../font/biko/biko_bold.eot?#iefix') format('embedded-opentype'),
         url('../font/biko/biko_bold.woff') format('woff'),
         url('../font/biko/biko_bold.ttf') format('truetype'),
         url('../font/biko/biko_bold.svg#bikobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "bikobold", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.buffer { margin:10px 0; }

.center {
		 float: none;
		 margin-left: auto;
		 margin-right: auto;
		 display: block;
}

.jumbotron-center {

	margin: 50px 0 25px 0;
}

.top-buffer {
	margin-top:25px;
}
.jumbotron {

	background-color: #2C3E50;
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid #dddedf;

}

.jumbotron h1 {
	font-size: 40px;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3 {
	color: #fff;
}
.jumbotron .btn {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}



.jumbotron img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


.jumbotron p {
	color: #b8c0c8;
	font-size:90%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: auto;
	margin-top:100px;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #f5f5f5;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 1px 0 0 0;
}

#footer ul {
	color: #404040;
	list-style: none;
	float: left;
	padding:0;
	margin:0;
}

#footer ul li.logo {
	color:#999999;
	padding-right:10px;
}

#footer ul li {
	font-size:90%;
	float: left;
	position: relative;
	display: block;
}

#footer ul > li > a {
	padding: 0 10px 0 10px;
}

#footer .navbar-brand {
	font-size:95%;
	padding:15px 15px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding: 20px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

.alert {
	padding-top:6px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	margin-top:2px;
}

.nav .caret {
	border-top-color: #000000;
	border-bottom-color: #000000;
}

#wrap .navbar-default {
	background-color: #2C3E50;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	border-color: #999;
	border-width: 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#wrap .navbar-default .navbar-brand {
	color: #999999;
}

#wrap .navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

#wrap .navbar-default .navbar-nav > li > a {
	color: #717387;
	padding:15px 0 0 0;
	margin:0 15px 0 0;
}

#wrap .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;

}

#wrap .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;

}

#wrap .navbar-default .navbar-nav > li > a.action {
	padding-top: 8px;
}

#wrap .navbar > .container .navbar-brand {
	margin-left: -15px;
}

#wrap .navbar-brand {

	padding:3px 15px;
}

.btn-group {
	padding-top:8px;
}

.col-bg-1 {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #EEEEEE;
	border-radius: 6px;
}



.mg-top-bot-5 {
	margin-bottom: 5px;
}


.sub h1 {
	text-align: center;
	padding-top: 36px;
	font-size: 42px;
	font-weight: 400;
	color: #fff;
}

.sub p {
	font-size: 16px;
	overflow: hidden;
	color:#b8c0c8;
}


.table .table {
	margin-bottom: 0;
}