<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Bitflop is fun new way to play poker against your opponents using a webcam." />
  		<meta name="keywords" content="bitflop, bitflopme, poker, telepoker, video poker, video holdem, texas holdem poker, webcam poker, webrtc poker, video conference poker, bitcoin poker, virtual poker, webrtc poker" />
		
		<meta property="og:site_name" content="Bitflop" />
		<meta property="og:title" content="Bitflop - Play Online Poker Against your Opponents using a Webcam" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://bitflop.me" />
		<meta property="og:image" content="https://bitflop.me/img/bitflop.png" />
		<meta property="fb:page_id" content="http://www.facebook.com/bitflop" />

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@bitflopme">
		<meta name="twitter:title" content="Bitflop - Play Online Poker Against your Opponents using a Webcam">
		<meta name="twitter:description" content="Bitflop is fun new way to play poker against your opponents using a webcam.">
		<meta name="twitter:creator" content="@ChrisZieba">
		<meta name="twitter:image:src" content="https://bitflop.me/img/bitflop.png">
		<meta name="twitter:domain" content="https://bitflop.me">

		<% if (settings.env === 'development') { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/site.css" rel="stylesheet" media="screen" />
		<% } else { %>
			<link href="/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen" />
			<link href="/css/site.min.css" rel="stylesheet" media="screen" />
		<% } %>
	</head>


	<body ng-app="site">

		<!-- Wrap all page content here -->
		<div id="wrap">

			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container" ng-controller="CollapseCtrl">

					<div class="navbar-header">

						<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand logo-nav" href="/"><img src="/img/bitflop.png"></a>
					</div>

					<div class="collapse navbar-collapse" collapse="isCollapsed">
						<ul class="nav navbar-nav">
							<li><a href="/about">About</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">

							<% if (user.authenticated) { %>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= user.name %>&nbsp;<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/account/games"><span class="glyphicon glyphicon-list"></span> My Games <span class="badge"><%= user.games.active.length %></span></a></li>
										<li class="divider"></li>
										<li><a href="/game/new"><span class="glyphicon glyphicon-plus"></span> Create a Game</a></li>
										<li><a href="/game/join"><span class="glyphicon glyphicon-new-window"></span> Join a Game</a></li>
										<li class="divider"></li>
										<li><a type="button" href="/user/<%= user.name %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
										<li><a href="/account"><span class="glyphicon glyphicon-wrench"></span> Account</a></li>
										<li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
									</ul>
								</li>
							<% } else { %>
								<li><a href="/login">Login</a></li>
								<li><a href="/register" class="action"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
							<% } %>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>