<!DOCTYPE html>
<html ng-app="site">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<% if (settings.env === 'development') { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/site.css" rel="stylesheet" media="screen" />
		<% } else { %>
			<link href="/css/vendor/bootstrap.css" rel="stylesheet" media="screen" />
			<link href="/css/site.css" rel="stylesheet" media="screen" />
		<% } %>
	</head>


	<body>

		<!-- Wrap all page content here -->
		<div id="wrap">

			<!-- Fixed navbar -->
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container" ng-controller="CollapseCtrl">

					<div class="navbar-header">

						<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand logo-nav" href="/"><img src="/img/bitflop.png"></a>
					</div>

					<div class="collapse navbar-collapse" collapse="isCollapsed">
						<ul class="nav navbar-nav">
							<li><a href="/about">About</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">

							<% if (user.authenticated) { %>
								<li class="dropdown">
									<div class="btn-group">

										<button type="button" class="btn-user dropdown-toggle">
											<span class="glyphicon glyphicon-user"></span> <%= user.name %>&nbsp;&nbsp;&nbsp;<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="/account/games"><span class="glyphicon glyphicon-list"></span> My Games <span class="badge"><%= user.games.active.length %></span></a></li>
											<li class="divider"></li>
											<li><a href="/game/new"><span class="glyphicon glyphicon-plus"></span> Create a Game</a></li>
											<li><a href="/game/join"><span class="glyphicon glyphicon-new-window"></span> Join a Game</a></li>
											<li class="divider"></li>
											<li><a type="button" href="/user/<%= user.name %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
											<li><a href="/account/settings"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
											<li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
										</ul>
									</div>
								</li>
							<% } else { %>
								<li><a href="/login">Login</a></li>
								<li><a href="/register" class="action"><button type="button" class="btn-user"><span class="glyphicon glyphicon-log-in"></span> Register</button></a></li>
							<% } %>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>