				
<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>About</h1>
		<p><em>You can also start your own game</em></p>
	</div>
	
</div>

<div class="container">

	<h3>Games</h3>
<!--
	<div style="width:7000px;height:200px;overflow:scroll;background:green">
		<div class="card"><span class="card-00"></span></div>
		<div class="card"><span class="card-2H"></span></div>
		<div class="card"><span class="card-3H"></span></div>
		<div class="card"><span class="card-4H"></span></div>
		<div class="card"><span class="card-5H"></span></div>
		<div class="card"><span class="card-6H"></span></div>
		<div class="card"><span class="card-7H"></span></div>
		<div class="card"><span class="card-8H"></span></div>
		<div class="card"><span class="card-9H"></span></div>
		<div class="card"><span class="card-TH"></span></div>
		<div class="card"><span class="card-JH"></span></div>
		<div class="card"><span class="card-QH"></span></div>
		<div class="card"><span class="card-KH"></span></div>
		<div class="card"><span class="card-AH"></span></div>
		<div class="card"><span class="card-2C"></span></div>
		<div class="card"><span class="card-3C"></span></div>
		<div class="card"><span class="card-4C"></span></div>
		<div class="card"><span class="card-5C"></span></div>
		<div class="card"><span class="card-6C"></span></div>
		<div class="card"><span class="card-7C"></span></div>
		<div class="card"><span class="card-8C"></span></div>
		<div class="card"><span class="card-9C"></span></div>
		<div class="card"><span class="card-TC"></span></div>
		<div class="card"><span class="card-JC"></span></div>
		<div class="card"><span class="card-QC"></span></div>
		<div class="card"><span class="card-KC"></span></div>
		<div class="card"><span class="card-AC"></span></div>
		<div class="card"><span class="card-2D"></span></div>
		<div class="card"><span class="card-3D"></span></div>
		<div class="card"><span class="card-4D"></span></div>
		<div class="card"><span class="card-5D"></span></div>
		<div class="card"><span class="card-6D"></span></div>
		<div class="card"><span class="card-7D"></span></div>
		<div class="card"><span class="card-8D"></span></div>
		<div class="card"><span class="card-9D"></span></div>
		<div class="card"><span class="card-TD"></span></div>
		<div class="card"><span class="card-JD"></span></div>
		<div class="card"><span class="card-QD"></span></div>
		<div class="card"><span class="card-KD"></span></div>
		<div class="card"><span class="card-AD"></span></div>
		<div class="card"><span class="card-2S"></span></div>
		<div class="card"><span class="card-3S"></span></div>
		<div class="card"><span class="card-4S"></span></div>
		<div class="card"><span class="card-5S"></span></div>
		<div class="card"><span class="card-6S"></span></div>
		<div class="card"><span class="card-7S"></span></div>
		<div class="card"><span class="card-8S"></span></div>
		<div class="card"><span class="card-9S"></span></div>
		<div class="card"><span class="card-TS"></span></div>
		<div class="card"><span class="card-JS"></span></div>
		<div class="card"><span class="card-QS"></span></div>
		<div class="card"><span class="card-KS"></span></div>
		<div class="card"><span class="card-AS"></span></div>

	</div>

	<div style="width:5000px;height:200px;overflow:scroll;background:green">
		<div class="card card-sm"><span class="card-00"></span></div>
		<div class="card card-sm"><span class="card-2H"></span></div>
		<div class="card card-sm"><span class="card-3H"></span></div>
		<div class="card card-sm"><span class="card-4H"></span></div>
		<div class="card card-sm"><span class="card-5H"></span></div>
		<div class="card card-sm"><span class="card-6H"></span></div>
		<div class="card card-sm"><span class="card-7H"></span></div>
		<div class="card card-sm"><span class="card-8H"></span></div>
		<div class="card card-sm"><span class="card-9H"></span></div>
		<div class="card card-sm"><span class="card-TH"></span></div>
		<div class="card card-sm"><span class="card-JH"></span></div>
		<div class="card card-sm"><span class="card-QH"></span></div>
		<div class="card card-sm"><span class="card-KH"></span></div>
		<div class="card card-sm"><span class="card-AH"></span></div>
		<div class="card card-sm"><span class="card-2C"></span></div>
		<div class="card card-sm"><span class="card-3C"></span></div>
		<div class="card card-sm"><span class="card-4C"></span></div>
		<div class="card card-sm"><span class="card-5C"></span></div>
		<div class="card card-sm"><span class="card-6C"></span></div>
		<div class="card card-sm"><span class="card-7C"></span></div>
		<div class="card card-sm"><span class="card-8C"></span></div>
		<div class="card card-sm"><span class="card-9C"></span></div>
		<div class="card card-sm"><span class="card-TC"></span></div>
		<div class="card card-sm"><span class="card-JC"></span></div>
		<div class="card card-sm"><span class="card-QC"></span></div>
		<div class="card card-sm"><span class="card-KC"></span></div>
		<div class="card card-sm"><span class="card-AC"></span></div>
		<div class="card card-sm"><span class="card-2D"></span></div>
		<div class="card card-sm"><span class="card-3D"></span></div>
		<div class="card card-sm"><span class="card-4D"></span></div>
		<div class="card card-sm"><span class="card-5D"></span></div>
		<div class="card card-sm"><span class="card-6D"></span></div>
		<div class="card card-sm"><span class="card-7D"></span></div>
		<div class="card card-sm"><span class="card-8D"></span></div>
		<div class="card card-sm"><span class="card-9D"></span></div>
		<div class="card card-sm"><span class="card-TD"></span></div>
		<div class="card card-sm"><span class="card-JD"></span></div>
		<div class="card card-sm"><span class="card-QD"></span></div>
		<div class="card card-sm"><span class="card-KD"></span></div>
		<div class="card card-sm"><span class="card-AD"></span></div>
		<div class="card card-sm"><span class="card-2S"></span></div>
		<div class="card card-sm"><span class="card-3S"></span></div>
		<div class="card card-sm"><span class="card-4S"></span></div>
		<div class="card card-sm"><span class="card-5S"></span></div>
		<div class="card card-sm"><span class="card-6S"></span></div>
		<div class="card card-sm"><span class="card-7S"></span></div>
		<div class="card card-sm"><span class="card-8S"></span></div>
		<div class="card card-sm"><span class="card-9S"></span></div>
		<div class="card card-sm"><span class="card-TS"></span></div>
		<div class="card card-sm"><span class="card-JS"></span></div>
		<div class="card card-sm"><span class="card-QS"></span></div>
		<div class="card card-sm"><span class="card-KS"></span></div>
		<div class="card card-sm"><span class="card-AS"></span></div>

	</div>

	<div style="width:5000px;height:200px;overflow:scroll;background:green">
		<div class="card card-xs"><span class="card-00"></span></div>
		<div class="card card-xs"><span class="card-2H"></span></div>
		<div class="card card-xs"><span class="card-3H"></span></div>
		<div class="card card-xs"><span class="card-4H"></span></div>
		<div class="card card-xs"><span class="card-5H"></span></div>
		<div class="card card-xs"><span class="card-6H"></span></div>
		<div class="card card-xs"><span class="card-7H"></span></div>
		<div class="card card-xs"><span class="card-8H"></span></div>
		<div class="card card-xs"><span class="card-9H"></span></div>
		<div class="card card-xs"><span class="card-TH"></span></div>
		<div class="card card-xs"><span class="card-JH"></span></div>
		<div class="card card-xs"><span class="card-QH"></span></div>
		<div class="card card-xs"><span class="card-KH"></span></div>
		<div class="card card-xs"><span class="card-AH"></span></div>
		<div class="card card-xs"><span class="card-2C"></span></div>
		<div class="card card-xs"><span class="card-3C"></span></div>
		<div class="card card-xs"><span class="card-4C"></span></div>
		<div class="card card-xs"><span class="card-5C"></span></div>
		<div class="card card-xs"><span class="card-6C"></span></div>
		<div class="card card-xs"><span class="card-7C"></span></div>
		<div class="card card-xs"><span class="card-8C"></span></div>
		<div class="card card-xs"><span class="card-9C"></span></div>
		<div class="card card-xs"><span class="card-TC"></span></div>
		<div class="card card-xs"><span class="card-JC"></span></div>
		<div class="card card-xs"><span class="card-QC"></span></div>
		<div class="card card-xs"><span class="card-KC"></span></div>
		<div class="card card-xs"><span class="card-AC"></span></div>
		<div class="card card-xs"><span class="card-2D"></span></div>
		<div class="card card-xs"><span class="card-3D"></span></div>
		<div class="card card-xs"><span class="card-4D"></span></div>
		<div class="card card-xs"><span class="card-5D"></span></div>
		<div class="card card-xs"><span class="card-6D"></span></div>
		<div class="card card-xs"><span class="card-7D"></span></div>
		<div class="card card-xs"><span class="card-8D"></span></div>
		<div class="card card-xs"><span class="card-9D"></span></div>
		<div class="card card-xs"><span class="card-TD"></span></div>
		<div class="card card-xs"><span class="card-JD"></span></div>
		<div class="card card-xs"><span class="card-QD"></span></div>
		<div class="card card-xs"><span class="card-KD"></span></div>
		<div class="card card-xs"><span class="card-AD"></span></div>
		<div class="card card-xs"><span class="card-2S"></span></div>
		<div class="card card-xs"><span class="card-3S"></span></div>
		<div class="card card-xs"><span class="card-4S"></span></div>
		<div class="card card-xs"><span class="card-5S"></span></div>
		<div class="card card-xs"><span class="card-6S"></span></div>
		<div class="card card-xs"><span class="card-7S"></span></div>
		<div class="card card-xs"><span class="card-8S"></span></div>
		<div class="card card-xs"><span class="card-9S"></span></div>
		<div class="card card-xs"><span class="card-TS"></span></div>
		<div class="card card-xs"><span class="card-JS"></span></div>
		<div class="card card-xs"><span class="card-QS"></span></div>
		<div class="card card-xs"><span class="card-KS"></span></div>
		<div class="card card-xs"><span class="card-AS"></span></div>

	</div>
-->
</div>

<% include partials/footer.ejs %>