				
<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>About</h1>
	</div>
	
</div>

<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">  

			<p><span class="biko">Bitflop</span> is a new way to play heads-up poker using your webcam. All that is required is a modern browser (see the <a href="/faq">FAQ's</a>) and a webcam. <span class="biko">Bitflop</span> uses the latest HTML5 WebRTC technology to deliver peer-to-peer, encrypted, high definition audio/video in the web browser. No third-party app downloads or browser-plugins required! We at <span class="biko">Bitflop</span> believe that WebRTC and poker are a perfect combination for those who enjoy real time gaming.</p>

			<p>This project is currently in <strong>alpha</strong>, and under active development by <a href="http://www.chriszieba.com" title="Chris Zieba">Chris Zieba</a>. You can contact me via twitter <a href="https://twitter.com/ChrisZieba" target="_blank">@ChrisZieba</a> or email me directly at <i class="fa fa-envelope-o"> <span class="email">zieba.chris@gmail.com</span></i>. For more information please visit the <a href="/contact">contact</a> or <a href="/faq">FAQ's</a> section.</p>
		</div>
	</div>



</div>

<% include partials/footer.ejs %>