				
<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>About</h1>
	</div>
	
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">

			<p>Bitflop.me was born out of the desire to play texas holdem online, but with the ability to see your opponenet via webcam. The available options at the time were not very easy to use, and required installing numberous software packages. PLaying texas holdem online face to face with your friends just become simple, fast, and free. This project was built and is maintaned by <a href="http://www.chriszieba.com" title="Chris Zieba">Chris Zieba</a>, who you can follow on twitter <a href="https://twitter.com/ChrisZieba">@ChrisZieba</a>.</p>

			<div class="row">
				<div class="col-md-6">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="/img/logo.png" alt="bitflop.me" width="64" height="64">
						</a>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h3>What browsers are supported?</h3>
				</div>
			</div>
		</div>
	</div>



</div>

<% include partials/footer.ejs %>