<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Contact</h1>
	</div>
	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">  
			<p>The best way to get in touch with us is by sending an email. We respond to emails very quickly whether you are sending a support request or just want to say hi!</p>

			<h3>Help & Support</h3>
			<p><code>help@bitflop.me</code></p>

			<h3>Feedback</h3>
			<p>Suggestions? Feedback? Reach out to me directly and share your thoughts.</p>
			<p><code>zieba.chris@gmail.com</code></p>

			<h3>Updates</h3>
			<p>Follow us on <a href="https://twitter.com/bitflopme" target="_blank">twitter</a> to get updates and news on Bitflop.</p>
		</div>

	</div>
</div>

<% include partials/footer.ejs %>