<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Contact</h1>
	</div>
	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">  
			<p>Suggestions? Feedback? Reach out to me directly and share your thoughts.</p>
			<p><strong>zieba.chris@gmail.com</strong></p>
			<p><a href="https://twitter.com/ChrisZieba" target="_blank">@ChrisZieba</a></p>
		</div>

	</div>
</div>

<% include partials/footer.ejs %>