				
<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>FAQ</h1>
	</div>
	
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">What is Bitflop.me?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me is a new fun way to play texas holdem with your friends. No downloads or installations are necessary to play face to face against your opponent via your webcam. Bitflop.me is built using new and emerging web api's that make browser to browser connections for video chat really easy to work with.</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">What are the minimum browser requirements?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me is built on top of web technologies and standards that are still relatively new, so the minimum web browser requirements are high. At this time, to get full functionality you must be using either FireFox or Chrome.</p>
							<ul>
								<li>Google Chrome 28+</li>
								<li>Firefox 24+</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Is gameplay for bitcoin available?</h3>
						</div>
						<div class="panel-body">
							<p>No, not at this time. Once the site reaches a stable version, this option will be explored. The leagality of such an operation is blurry (Canada).</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">How many players are allowed at a table?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me currently only supports two players (heads up), but a full 9 person table is currently in development.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

<% include partials/footer.ejs %>