				
<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>FAQ</h1>
	</div>
	
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">What is Bitflop.me?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me is a new fun way to play texas holdem with your friends. No downloads or installations are necessary to play face to face against your opponent via webcam. We are building the next generation web and mobile communications platform delivering secure, peer-to-peer, realtime poker games with high-definition voice and video.</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">What are the minimum browser requirements?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me is built on top of web technologies and standards that are still relatively new, so the minimum web browser requirements are high. At this time, to get full functionality you must be using either FireFox 23+, Chrome 26+ or Opera 18+.</p>

							<p>
								<img class="" src="/img/chrome_64x64.png" alt="Google Chrome 26+">
								<img class="" src="/img/chromium_64x64.png" alt="Chromium 26+">
								<img class="" src="/img/firefox_64x64.png" alt="Firefox 24+">
								<img class="" src="/img/opera_64x64.png" alt="Opera 24+">
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Can bitflop games be monitored or recorded?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me is designed to run voice and video peer-to-peer directly between calling parties, which is encrypted and does not pass through our servers. That means any video and/or audio cannot be monitored or recorded. Game data however, is exchanged with our servers while the game is in play. This data is also encrypted to prevent any eavesdropping or monitoring.</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">How many players are allowed at a table?</h3>
						</div>
						<div class="panel-body">
							<p>Bitflop.me currently only supports two players (heads up), but a full 9 person table is currently in development.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>

<% include partials/footer.ejs %>