<% include partials/header.ejs %>

<div class="jumbotron jumbotron-center">
	
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<h1>Play texas holdem face to face with your friends!</h1>

				<p>No downloads. Completely free. Works without a webcam too.</p>
				
				<p>
					<a href="game/new" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-new-window"></span> Start a new game</a>
					<a href="game/join" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-hand-down"></span> Join an existing game</a>
				</p>
			</div>
			<div class="col-sm-8">
				<img src="/img/home.png">

			</div>
		</div>
	</div>



	
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center">Shuffle Up & Deal!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h2>Step 1</h2>
			<p>Synchronizing and persisting user or app data in realtime is a breeze with AngularFire's 3-way data binding. It's never been easier to extend Angular's quintessential 2-way data binding concept to the server.</p>
		</div>
		<div class="col-sm-4">
			<h2>How does it work</h2>
			<p>Synchronizing and persisting user or app data in realtime is a breeze with AngularFire's 3-way data binding. It's never been easier to extend Angular's quintessential 2-way data binding concept to the server.</p>
		</div>
		<div class="col-sm-4">
			<h2>How does it work</h2>
			<p>AngularFire is built to make sure you can write your app as quickly as possible. There's no backend code to write or servers to set up, just start writing your frontend code and focus on building a great experience.</p>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>