<% include partials/header.ejs %>

<div class="jumbotron jumbotron-center">
	
	<img src="/img/bitflop.png">
	<p>Play texas holdem for bitcoin <iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=bitflopme&show_count=true&show_screen_name=true" allowtransparency="true" frameborder="0" scrolling="no"  style="width: 210px; height:20px;"></iframe></p>
	
	<p>
		<a href="game/new" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-new-window"></span> Start a new game</a>
		<a href="game/join" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-hand-down"></span> Join an existing game</a>
	</p>
	
</div>

<div class="container">



	<div class="row">
		<div class="col-sm-4">
			<h2>How does it work</h2>
			<p>Synchronizing and persisting user or app data in realtime is a breeze with AngularFire's 3-way data binding. It's never been easier to extend Angular's quintessential 2-way data binding concept to the server.</p>
		</div>
		<div class="col-sm-4">
			<h2>How does it work</h2>
			<p>Synchronizing and persisting user or app data in realtime is a breeze with AngularFire's 3-way data binding. It's never been easier to extend Angular's quintessential 2-way data binding concept to the server.</p>
		</div>
		<div class="col-sm-4">
			<h2>How does it work</h2>
			<p>AngularFire is built to make sure you can write your app as quickly as possible. There's no backend code to write or servers to set up, just start writing your frontend code and focus on building a great experience.</p>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>