<% include partials/header.ejs %>

<div class="jumbotron jumbotron-center">
	
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<h1>Play texas holdem face to face with your friends!</h1>

				
				<p>Heads-up poker tournaments on the go. No downloads. <strong>No email required</strong>. Completely Free. Just choose a username and start playing.</p>
				
				<p>
					<a href="game/new" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-new-window"></span> Start a New Game Now</a>
				
				</p>
			</div>
			<div class="col-sm-8">
				<img src="/img/home.png">

			</div>
		</div>
	</div>



	
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			
			<h1>Shuffle Up & Deal.</h1>
			<p>Create Table. Invite Friends. Play Cards.</p>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-4 text-center">
			<img src="/img/step1.png">
			<h2>Create a Table.</h2>
			<p>Once you're logged in creating a table is a breeze. Just choose a name and a few settings and you're good to go.</p>
		</div>
		<div class="col-sm-4 text-center">
			<img src="/img/step2.png">
			<h2>Invite a Friend.</h2>
			<p>Once you have created a table you can easily invite a friend to join you by sending them the link to the game.</p>
		</div>
		<div class="col-sm-4 text-center">
			<img src="/img/step3.png">
			<h2>Play Cards.</h2>
			<p>As soon as both players are at the table, the game will start and you will start playing texas holdem face to face against your opponent.</p>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>