<% include partials/header.ejs %>

<div class="jumbotron jumbotron-center">
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<h1>Play texas holdem face to face with your opponents!</h1>
				<p>Bitflop lets you play heads-up poker tournaments with your webcam. No downloads. Completely Free.</p>
				<p>
					<a href="game/new" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right"></i> Start a Game</a>
					<a href="game/new" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-o-right"></i> Join a Game</a>
				</p>
			</div>
			<div class="col-sm-8">
				<img src="/img/bitflop-webrtc-webcam-poker.png" class="img-responsive" title="WebRTC Poker">

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>Shuffle Up & Deal.</h1>
			<p>Create Table. Invite a Player. Play Cards.</p>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-4 text-center">

			<div class="step-icon">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
				</span>
			</div>

			<h2>Create a Table.</h2>
			<p>Once you're logged in, creating a table is a breeze. Just choose the blinds and you're good to go.</p>
		</div>
		<div class="col-sm-4 text-center">

			<div class="step-icon">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-group fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<h2>Invite an Opponent.</h2>
			<p>Once you have created a table, you can easily invite someone to join you by sending them the link to the game.</p>
		</div>
		<div class="col-sm-4 text-center">
			<div class="step-icon">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<h2>Play Cards.</h2>
			<p>As soon as both players are sitting at the table, you will start playing texas holdem face to face against your opponent.</p>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>