<% include partials/header.ejs %>


<div class="jumbotron sub">
	<div class="container">
		<h1>Login</h1>
	</div>
	
</div>

<div class="container">
	


	<div class="row">
		<div class="col-md-4 col-md-offset-4">  

			<form role="form" method="post" action="/login" class="well">

				<input type="hidden" name="_csrf" value="<%= token %>"/>

				<div class="form-group <% if (errors.username) { %>has-error<% } %>">
					<label>Username</label>
					<input type="text" name="loginUsername" class="form-control mg-top-bot-5" placeholder="Username">
					<% if (errors.loginUsername) { %>
						<div class="alert alert-danger"><p><%= errors.loginUsername.msg %></p></div>
					<% } %>
				</div>

				<div class="form-group <% if (errors.loginPassword) { %>has-error<% } %>">
					<label>Password</label>
					<input type="password" name="loginPassword" class="form-control mg-top-bot-5" placeholder="Password">
					<% if (errors.loginPassword) { %>
						<div class="alert alert-danger"><p><%= errors.loginPassword.msg %></p></div>
					<% } %>
				</div>

				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
					</div>
				</div>

				<div class="form-group">
					<input type="submit" class="btn btn-block btn-md btn-primary mg-top-bot-5" value="Login" />
				</div>

				<a href="/register" class="btn btn-default btn-block">Not a member yet? <strong>Register Here</strong></a>
			</form>

		</div>
	</div>
</div>

<% include partials/footer.ejs %>