<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Privacy Policy</h1>
	</div>
	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">  

			<h3>Website Visitors</h3>
      
			<p>Like most website operators, Bitflop collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Bitflop's purpose in collecting non-personally identifying information is to better understand how Bitflop's visitors use its website and applications. From time to time, Bitflop may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>

			<p>Bitflop also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Bitflop does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>

			<h3>Gathering of Personally-Identifying Information</h3>

			<p>Certain visitors to Bitflop's websites choose to interact with Bitflop in ways that require Bitflop to gather personally-identifying information. The amount and type of information that Bitflop gathers depends on the nature of the interaction. Bitflop collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Bitflop.</p>

			<p>Bitflop does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>

			<h3>Cookies</h3>

			<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Bitflop uses cookies to help Bitflop identify and track visitors, their usage of Bitflop website, and their website access preferences. Bitflop visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Bitflop's websites, with the drawback that account login and other certain features of Bitflop's websites will not function properly without the aid of cookies.</p>

			<h3>Privacy Policy Changes</h3>

			<p>Although most changes are likely to be minor, Bitflop may change its Privacy Policy from time to time, and in Bitflop's sole discretion. Bitflop encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

			<p>Any questions about this policy can be sent to <code>support@bitflop.com</code></p>

		</div>

	</div>
</div>

<% include partials/footer.ejs %>