<% include partials/header.ejs %>

<div class="jumbotron sub">
	<div class="container">
		<h1>Terms & Conditions</h1>
	</div>
	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">  

			<p>The following User Agreement ("Agreement") governs the use of <a href="https://www.bitflop.me" rel="nofollow"><span class="email">bitflop.me</span></a> ("Website"), including without limitation participation in its bulletin boards, forums, personal ads, chats, and all other areas (except to the extent stated otherwise on a specific page) as provided by Bitflop. ("Service Provider," "we," or "our").</p>

			<p>Please read the rules contained in this Agreement carefully. You can access this Agreement any time at <a href="https://bitflop.me/terms" rel="nofollow"><span class="email">https://bitflop.me</span></a>. Your use of and/or registration on any aspect of the Website will constitute your agreement to comply with these rules. If you cannot agree with these rules, please do not use the Website.</p>

			<p>We strive to provide an enjoyable online experience for our users, so we may monitor activity on the Website, including in the games, forums, and chats, to foster compliance with this Agreement.  All users of the Website hereby specifically agree to such monitoring.  Nevertheless, we do not make any warranties or guarantees that: (1) the Website, or any portion thereof, will be monitored for accuracy or unacceptable use, (2) apparent statements of fact will be authenticated, or (3) we will take any specific action (or any action at all) in the event of a dispute regarding compliance or non-compliance with this Agreement.</p>

			<p>The Website is not a forum for the exchange of advice or the promotion of self-destructive behavior.  While you may freely discuss your troubles, you should not look to the Website for information or advice on such topics.  Instead, we recommend that you talk in person with a trusted adult that you know or a medical professional.</p>

			<h3>Registration and Account Creation</h3>

			<p>Service Provider may at times require that you register and/or set up an account to use certain portions of the Website, or the Website as a whole.  In order to do so, you may be provided, or required to choose, a password, user name, and/or other registration information (collectively, "Registration Information").  You agree and represent that all Registration Information provided by you is accurate and up-to-date.  If any of your Registration Information changes, you must update it by using the appropriate update mechanism on the Website, if available.</p>


			<p>If you register and/or set up an account on the Website, you will be solely responsible for maintaining the confidentiality of your Registration Information. You may not authorize others to use your Registration Information.  You may not sub-license, transfer, sell or assign your Registration Information and/or this Agreement to any third party without our written approval.  Any attempt to do so will be null and void and shall be considered a material breach of this Agreement.</p>

			<p>You are solely responsible for all usage or activity on your account including, but not limited to, use of the account by any person who uses your Registration Information, with or without authorization, or who has access to any computer on which your account resides or is accessible.</p>

			<p>If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your Registration Information or any credit, debit or charge card number stored on the Website), you must promptly change the affected Registration Information by using the appropriate update mechanism on the Website.</p>


			<p>Service Provider makes no representation that materials on the Website are appropriate, available or legal in any particular location. Those who choose to access the Website do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable.</p>

			<p>We provide the Program "as is" and shall not be held liable for your use of the information, content, or material contained therein. We will not be liable for any delays in the receipt of any messages as delivery is subject to effective transmission from your network operator. TO THE FULLEST EXTENT ALLOWED BY LAW, WE DISCLAIM ALL WARRANTIES WITH REGARD TO THE PROGRAM, INCLUDING WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE.</p>
			<p>If you don't agree to the terms contained in this Agreement, please exit the Website by clicking the Back button on your browser to return to the previous page.</p>

		</div>

	</div>
</div>

<% include partials/footer.ejs %>